a, a:visited {
	text-decoration: none;
	color: #1E90FF;
}
a:hover {
	color: #98A0AA;
}

h1 {
	color: #EEFEFE;
	font-size: 16px;
}
h2 {
	color: #FFEE00;
	font-size: 16px;
}
body {
	text-align: center; 
	background-color: #98A0AA;
}
#container {
	text-align: left;
	width: 1000px;
	padding: 5px;
	margin: 0 auto; 
	color: #FEFEFE;
	font-size: 16px;
	font-weight: bold;
}
table th, table td {
}

table tbody {
}
textarea {
	width: 100%;
	background: transparent;
	border: none;
}
   
select {
	background: #D6E0EF;
	width: 120px;
	padding: 1px;
	font-size: 15px;
	border: 1px solid #ccc;
	height: 25px;
}
input[type=text] {
	width: 100%;
	background: transparent;
	border: none;
} 
.remove_row{
	cursor: pointer;
	height:16px;
	width:16px;
	background: url('16.png') no-repeat;
	left: -20px;
    margin-top: -50px;
    position: absolute;
}